@import "variables";

.gameColor {
    padding-top: 3rem;
    h2 {
        padding-top: 3rem;
        margin-bottom: 2rem;
    }
    .phone {
        img {
            width: 80%;
        }
    }
    .cover {
        width: 120%;
        margin-left: -10%;
        margin-right: -10%;
        box-shadow: #ced3dc84 0px 20px 40px 0px;
    }
    .coding {
        padding-top: 3rem;
        img {
            margin-top: 3rem;
            width: 100%;
        }
    }
}