@import "variables";

.navbar {
   box-shadow: #ced3dc52 0px 20px 40px 0px;
   .navbar-nav{
      a:hover {
         color: $primary-clr;
      }
   }
   @media (max-width: 821px) {
    display:none !important;
   }
   img {
      width: 50px;
      height: 50px;
   }
}