@import "variables";

#projects {
    width: 100%;
    #github {
        color: $live-clr;
    }
    .bg {
        border-radius: 20px;
        color: white;
        z-index: -1;
        margin-top: 2rem;
        background-color: $primary-clr;
        margin-top: -100px;
        padding: 4rem 2rem 3rem 2rem;
    }
    
    .row {
        padding-top: 3rem;
        .card {
            color: $primary-clr;
            max-width: 500px;
            margin: auto;
            border: solid 1px rgba(65, 65, 65, 0.092);
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            transition: transform ease .3s;
        &:hover {
            transform: scale(1.05);
            box-shadow: #ced3dc84 0px 20px 40px 0px;
        }
            img {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            .btn {
                color: white;
                background-color: $live-clr;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}
@media (min-width: 750px) {

    #projects {
      
        .bg {
            margin-top: -180px;
            padding: 4rem 2rem;
            margin-left: 5rem;
            margin-right: 5rem;
        }
        h2 {
            margin-top: 5rem;
        }
    
    }
}
